@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(226, 226, 226);
  --font-main: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
}

body {
  padding: 2rem;
  background-color: var(--bg-color);
  font-family: var(--font-main);
}
